// bower:scss
// endbower

$red: #ff3800;
$blue: #26a69a;
$dark: #00585f;
$bright: #fffcc4;
$neutral: #f0edbb;

@mixin transition($trans){  
  -webkit-transition: $trans;
  -moz-transition: $trans;
  transition: $trans;

}

$all: all ease .5s;

html,body{
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
*{
  box-sizing: border-box !important;
}
[ng-view]{
  height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

div.home{
  width: 100%;
  height: 100%;
  // div.projects{
  //   float: left;
  //   background: $dark;
  //   color: white;
  //   // flex: 100;
  //   overflow: hidden;
  //   width: 50vw;
  //   height: 100vh;
  //   .content{
  //     position: relative;
  //     .project{
  //       height: 100vh;
  //       min-height: 500px;
  //       position: relative;
  //       padding: 0 30px;
  //       justify-content: center;
  //       align-items: center;
  //       display: flex;
  //       &:before{
  //         content: "";
  //         position: absolute;
  //         top: 0;
  //         left: 0;
  //         width: 100%;
  //         height: 100vh;
  //         background: url('../images/1line-bg.png');
  //         background-size: cover;
  //         background-position: center;
  //         opacity: .1;

  //       }
  //       &.active{
  //         .card{
  //           top: 0;
  //           opacity: 1;
  //           cursor: default;
  //           transform: scale(1);
  //         }
  //       }
  //       .card{
  //         position: relative;
  //         background: $neutral;
  //         width: 100%;
  //         height: 300px;
  //         top: calc(-100vh + 320px);
  //         opacity: .5;
  //         transform: scale(.9);
  //         cursor: pointer;
  //         .image{
  //           width: 50%;
  //           height: 100%;
  //           float: left;
  //           background: $blue;
  //         }
  //         .content{
  //           width: 50%;
  //           height: 50%;
  //           float: left;
  //           color: $dark;
  //           padding: 15px;
  //         }
  //       }
  //     }
  //   }
    
  // }
  div.me{
    // color: white;
    float: left;
    color: $bright;
    width: 100vw;
    overflow: scroll;

    .content{
      .identity{
        @include transition($all);
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        transform: translate(0,0);
        background: $red;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: relative;
        z-index: 1;
        .name{
          font-family: 'Permanent Marker', cursive;
          font-size: 8vw;
          margin: 0;
        }
        @keyframes left{
          0%{ transform: translate(0, 0); }
          5%{ transform: translate(0, -400%);}
          80%{ transform: translate(0, -400%);}
          100%{ transform: translate(0, 0);}
        }
        @keyframes right{
          0%{ transform: translate(0, 0); }
          5%{ transform: translate(0, 400%);}
          80%{ transform: translate(0, 400%);}
          100%{ transform: translate(0, 0);}
        }
        @keyframes sparkle{
          15%{ opacity: 0; }
          20%{ opacity: 1; }
          30%{ opacity: 1; }
          35%{ opacity: 0}; 
        }
        .animate:hover{
          .logo{
            #left{
              animation: left 2s ease infinite;
            }
            #right{
              animation: right 2s ease infinite;
            }
            #sparkle{
              animation: sparkle 2s ease infinite;
            }
          }
          .msg{
            opacity: 1;
          }

        }
        .animate{
          position: relative;
        }
        .logo{
          width: 30vw;
          max-width: 150px;
          #left{
            transform: translate(0, 0);
          }
          #right{
            transform: translate(0, 0);
          }
          #sparkle{
            opacity: 0;
          }
        }
        .title{
          font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
          margin: 0;
          font-size: 2vw;
        }
      }
      .msg{
        @include transition($all);
        opacity: 0;
        margin-top: -60px;
        position: absolute;
        top: 0;
        transform: translateY(-80%);
        font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
        font-size: 1em;
        background-color: #fffcc4;
        color: #ff3800;
        padding: 20px;
        border-radius: 5px;
        &:after{
          content: "";
          width: 0;
          height: 0;
          border-top: 20px solid $bright;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          position: absolute;
          bottom: -18px;
          left: 10px;
        }
      }
      .contact{
        background: $dark;
        display: flex;
        margin-top: -100px;
        div{
          @include transition($all);
          flex: 1;
          height: 100px;
          text-align: center;
          line-height: 100px;
          font-size: 10em;
          color: white;
          opacity: .3;
          cursor: pointer;
          overflow: hidden;
          // padding: 20px;
          box-sizing: border-box;
          &:hover{
            opacity: 1;
            font-size: 2em;
            // padding: 0;
          }
          &.message{
            background: #777;
          }
          &.behance{
            background: #1769ff;
          }
          &.twitter{
            background: #55acee;
          }
          i{
            transform: rotate(-30deg);
            padding: 30px
          }
        }
      }
    }
    // &:hover{
    //   .identity{
    //     transform: translate(0,-100px);
    //     -webkit-transform: translate(0,-100px);
    //   }
    // }
  }
}

@media (max-width: 959px){
  div.home{
    div.me{
      width: 100vw;
    }
    div.projects{
      width: 100vw;
    }
  }

}
