<div class="home" layout>
  <!-- <div class="projects">
    <div class="content">
      <div class="project active">
        <div class="card">
          <div class="image">
            img
          </div>
          <div class="content">
            content
          </div>
        </div>
      </div>
      <div class="project">
        <div class="card">
          <div class="image">
            img
          </div>
          <div class="content">
            content
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="me">
    <div class="content">
      <div class="identity">
        <div class="animate">
          <div class="msg">New portfolio coming soon!</div>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-370 170 218 222" style="enable-background:new -370 170 218 222;" xml:space="preserve" class="logo">
            <style type="text/css">
              .st0{fill:#FFFCC4;}
              .st1{fill:none;stroke:#FFFCC4;stroke-width:8;stroke-miterlimit:10;}
            </style>
            <g id="Layer_1_1_">
              <g>
                <circle class="st0" cx="-237.2" cy="300.9" r="4.2"/>
                <polygon class="st0" points="-166,384 -356,384 -356,344 -364,344 -364,392 -158,392 -158,344 -166,344    "/>
                <path class="st0" d="M-159,259v-72h-99v72h-7v-72h-99v72h-6v8h6v20h99v-20h7v20h99v-20h7v-8H-159z M-273,279h-83v-84h83V279z
                   M-167,267v12h-83v-12v-8v-64h83v64V267z"/>
              </g>
            </g>
            <g id="right">
              <rect x="-252" y="170" class="st0" width="87" height="8"/>
            </g>
            <g id="left">
              <rect x="-357.8" y="204" class="st0" width="86.5" height="8"/>
            </g>
            <g id="sparkle">
              <g>
                <line class="st1" x1="-349.2" y1="227" x2="-325.2" y2="227"/>
                <line class="st1" x1="-337.2" y1="209" x2="-337.2" y2="245"/>
              </g>
            </g>
          </svg> 
        </div>
        <h1 class="name">Jonny Lu</h1>
        <h2 class="title"> DESIGNER | DEVELOPER</h2>
      </div>
      <div class="contact" layout>
        <div class="message"><i class="fa fa-envelope"></i></div>
        <div class="twitter"><i class="fa fa-twitter"></i></div>
        <div class="behance"><i class="fa fa-behance"></i></div>
      </div>
    </div>
  </div>
</div>

