<div class="home" layout>
  <div class="projects">
    <div class="content">
      <div class="project active">
        <div class="card">
          <div class="image">
            img
          </div>
          <div class="content">
            content
          </div>
        </div>
      </div>
      <div class="project">
        <div class="card">
          <div class="image">
            img
          </div>
          <div class="content">
            content
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="me">
    <div class="content">
      <div class="identity">
        <img src="images/logo.png" class="logo">
        <h1 class="name">Jonny Lu</h1>
        <h2 class="title"> DESIGNER | DEVELOPER</h2>
      </div>
      <div class="contact" layout>
        <div class="message"><i class="fa fa-envelope"></i></div>
        <div class="twitter"><i class="fa fa-twitter"></i></div>
        <div class="behance"><i class="fa fa-behance"></i></div>
      </div>
    </div>
  </div>
</div>

